body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

h2 {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.movie-card {
  background-color: white;
  border: 0;
  box-shadow: 0 -1px 0 #fdfcfc, 0 0 2px rgba(247, 244, 244, 1),
    0 2px 4px rgba(255, 252, 252, 1);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  border-radius: 10px;
  width: 92%;
  color: black;
  font-weight: bold;
  text-decoration: none;
}


@media(max-width: 900px) {
  .movie-card {
    border: 0;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    width: 83%;

  }
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
  text-decoration: none;
}

.movie-metascore {
  text-decoration: none;
}

.saved-list {
  background-color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 5%;
  width: 88%;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  text-decoration: none;
  line-height: 35px;;
}

@media(max-width: 900px) {
  .saved-list {
    width: 81%;
  }
}

.saved-movie {
  margin: 0 10px;
  color: black;
}

.saved-movie a {
  display: flex;
  flex-direction: column;
  color: black;
}
.saved-active {
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.save-button {
  position: absolute;
  top: 25px;
  right: 40px;
  border: 3px solid black;
  padding: 5px 10px;
  background-color: black;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
.save-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media(max-width: 900px) {
  .save-button {
    top: 25px;
    right: 20px;
    padding: 5px 10px;
  }
}

.save-btn-edit {
  width: 6%;
}

@media(max-width: 900px) {
  .save-btn-edit {
    width: 12%;
  }
}

@media(max-width: 500px) {
  .save-btn-edit {
    width: 17%;
  }
}

.home-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 3px solid black;
  padding: 5px 10px;
  background-color: black;
  border-radius: 10px;
  font-weight: bold;
}

.home-button a{
  color: white;
}
.home-button:hover {
  background-color: white;
}
.home-button a:hover {
  color: black;
}

.movie-warning {
  color: red;
  text-align: center;
}

button {
  top: 25px;
  right: 25px;
  border: 3px solid white;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-left: 3px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

input {
  width: 250px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid white;
}