body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #597A99;
}

.movie-card {
  background-color: white;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  border-radius: 10px;
  width: 75%;
  color: #597A99;
  font-weight: bold;
  text-decoration: none;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #25CCC4;
  border: 3px solid #597A99;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  border: 3px solid #597A99;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: #25CCC4;
  font-weight: bold;
  text-decoration: none;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 3px solid #17807A;
  padding: 5px 10px;
  background-color: lightseagreen;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 35px;
}
.save-button:hover {
  background-color: #25CCC4;
  color: white;
}

.home-button {
  top: 25px;
  right: 25px;
  border: 3px solid #17807A;
  padding: 5px 10px;
  background-color: lightseagreen;
  border-radius: 10px;
  font-weight: bold;
}
.home-button:hover {
  background-color: #25CCC4;
  color: white;
}

.movie-warning {
  color: lightseagreen;
  text-align: center;
}

button {
  top: 25px;
  right: 25px;
  border: 3px solid #17807A;
  padding: 5px 10px;
  background-color: lightseagreen;
  border-radius: 10px;
  margin-left: 3px;
  font-weight: bold;
}
button:hover {
  background-color: #25CCC4;
  color: white;
}

input {
  width: 250px;
  margin-left: 3px;
  margin-top: 3px;
}